
.apple {
    width: 230px;
    height: 200px;
    border-radius: 36% 36% 41% 41% / 42% 42% 75% 75%;   

    margin: 80px auto 0;
    background: white;
}

.footer {
  position: absolute;
  width: 60%;
  height: 62%;
  right: -40%;
  top: 8%;
  border-radius: 60%;
  background: #CCC;
}
.middle span{
}

.top {
}
